*.manifest working-tree-encoding=CP1251 eol=CRLF
*.c working-tree-encoding=CP1251 eol=CRLF
*.cpp working-tree-encoding=CP1251 eol=CRLF
*.rc working-tree-encoding=CP1251 eol=CRLF
*.bat working-tree-encoding=CP1251 eol=CRLF
*.inc working-tree-encoding=CP1251 eol=CRLF
*.nsi working-tree-encoding=CP1251 eol=CRLF
*.ini working-tree-encoding=CP1251 eol=CRLF
*.h working-tree-encoding=CP1251 eol=CRLF
*.dpr working-tree-encoding=CP1251 eol=CRLF
*.dof working-tree-encoding=CP1251 eol=CRLF
*.tlh working-tree-encoding=CP1251 eol=CRLF
*.tli working-tree-encoding=CP1251 eol=CRLF
*.tlb working-tree-encoding=CP1251 eol=CRLF
*.inline working-tree-encoding=CP1251 eol=CRLF
*.html working-tree-encoding=CP1251 eol=CRLF
*.css working-tree-encoding=CP1251 eol=CRLF
*.js working-tree-encoding=CP1251 eol=CRLF